:root {
  --font-family: "Roboto", sans-serif;
  --primary--color: #f9faf8;
  --dark-background-color: #1f2937;
  --secondary-color: #3882f6;
  --light-background-color: #e5e7eb;
  --button-padding: 6px 20px;
}
body {
  margin: 0;
  padding: 0;
}
button {
  padding: var(--button-padding);
  border-radius: 8px;
  border: none;
}
/*top section */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 30px;
}
nav i {
  font-size: 24px;
  display: flex;
  padding: 18px 150px;
  text-align: right;
}

nav ul {
  padding: 15px 150px;
}
nav li {
  display: inline;
  list-style: none;
  padding: 15px;
  font-size: 18px;
  opacity: 0.7;
}
nav a {
  text-decoration: none;

  color: var(--primary--color);
}
.first-section {
  color: var(--primary--color);
  background-color: var(--dark-background-color);
  padding: 30px;
}
.hero-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.hero {
  padding: 50px;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
.hero p {
  font-size: 18px;
  opacity: 0.7;
}
.hero button {
  color: var(--primary--color);
  background-color: var(--secondary-color);
}
.placeholder-image {
  display: inline-block;
  margin-left: auto;
  margin-right: 200px;
}

/*images */

.image-container {
  display: flex;
  flex-direction: column;
}
.image-container li {
  display: inline;
  list-style: none;
}
.image-container ul {
  display: flex;
  justify-content: center;
}
.image-container p {
  text-align: center;
  font-size: 12px;
}
.image-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 8%;
}
/*quote section */
/*action section */
/*footer */
